/* body {
  background-color: #3b2e8f;
  font-family: 'Open Sans', sans-serif;
} */

/* h1 {
 font-size: 34px;
 margin: 0;
 font-weight: 600;
}

h3 {
 font-size: 16px;
 margin: 0;
 font-weight: 700;
}

h4 {
 font-size: 11px;
 margin: 0;
 font-weight: 400;
}

h5 {
 font-size: 11px;
 font-weight: 600;
 margin: 25px 0 25px 0;
}

h6 {
 font-weight: 600;
 margin: 0;
} */

.containervetau {
   margin: 0 auto;
   width: 300px;
   background-color: rgb(255, 255, 255);
   position: relative;
   overflow: hidden;
}
.col-sm-4{
  margin-top: 4%;
}
.first {
 height: 300px;
}

.second {
 height: 120px;
 border-top: 1.5px solid #c5c4c44f;
}
.top {
 top: -10px;
 position: absolute;
   width: 18px;
   height: 18px;
   border-radius: 100%;
   background-color: #eaecf5;
}
.bottom {
 bottom: -10px;
 position: absolute;
   width: 18px;
   height: 18px;
   border-radius: 100%;
   background-color: #eaecf5;
}
.left {
 left: -10px;
 position: absolute;
   width: 18px;
   height: 18px;
   border-radius: 100%;
   background-color: #eaecf5;
}
.right {
 right: -10px;
 position: absolute;
   width: 18px;
   height: 18px;
   border-radius: 100%;
   background-color: #eaecf5;
}

.spacer {
 padding: 25px 20px 20px 20px;
}

.spacer2 {
 padding: 15px 20px 20px 20px;
}

.spacer > img {
 width: 57px;
 float: left;
 padding-right: 30px;
}

.name-flight {
 float: left;
}

.name-flight > h3 {
 text-transform: uppercase;
 color: #4b4091;
}

.name-flight > h4 {
 color: #7c7c7c;
 margin-top: -5px;
}

h4 > span {
 font-size: 15px;
 font-weight: 700;
 color: #8950fc;
}
.view-qr{
  margin-left: 80%;
  border-radius: 50%;
}
.view-qr > img{
  width: 65%;
}
#qr-code{
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.destination {
 margin-top: 40px;
}

.from {
 float: left;
 width: 33%;
 color: #5d6474;
}

.center {
 float: left;
 width: 33%;
}
.center2 {
  float: left;
  width: 33%;
  margin-top: 7%;
}
.center > i {
 color: #5d6474;
 padding-top: 15px;
 padding-left: 35%;
}

.to {
  color: #5d6474;
 float: left;
 width: 33%;
}

.from > span {
 font-size: 12px;
 font-weight: 600;
}

.to > span {
 font-size: 12px;
 font-weight: 600;
}

.left-side {
 float: left;
 width: 33%;
 
 }
.left-side > h5{
  font-size: 13px;
 font-weight: 600;
 margin: 20px 0 25px 0;
}
h5 > span {
 font-weight: 700;
 font-size: 13px;
 color: #8950fc;
}

.right-side {
 float: right;
 width: 33%;
}
.right-side > h5{
 font-size: 13px;
 font-weight: 600;
 margin: 20px 0 25px 0;

}
h5 {
 color: #5e6675;
}

.spacer2 > h3 {
 color: #4b4091;
 text-transform: uppercase;
 text-align: center;
 
 font-size: 16px;
 margin: 0;
 font-weight: 700;
}

.flight-gate {
 float: left;
 width: 66%;
 margin-top: 5px;
}
.flight-gate > h5 {
 margin: 0 0 5px 0;
}

.text-barcode > img {
 float: left;
 width: 33%;
 margin-top: 5px;
}